<div class="add">
    <div class="add-title">
        {{course.course_name}}
    </div>
    <div class="voting">
        {{vote_count}}  {{user.username}}
        
        <a href="/courses/{{id}}">{{course.comments.length}} </a>
    </div>
</article>



    <div class="classes">
      <a href="/courses/{{id}}">
      <img src="/images/{{file_image}}" alt="{{synopsis}}">
      <h2> {{school}}</h2>
  </a>   
   </div>


