<div class="add">
     <div class="classes">
    <h3>{{images.school}}</h3>
    <a href="/images/{{id}}">
      <img src="/images/{{images.[0].file_image}}" alt="{{images.[0].synopsis}}">
    <br>
    {{images.[0].course_name}}
    </a> 
</div>
</div>

   


