<section class="display">
    <h4 class="school-name">{{course.school}}</h4>
    <h4>{{course.course_name}}</h4>
    {{#each course as |course}}
    {{> courses}}
    {{/each}}
</section>


   <div class="about">
      <img src="/images/{{file_image}}" alt="{{synopsis}}">
      <div>
      <p> {{school}}</p>
      {{course_name}}
    </div>
</section>

<form class="comments">
    <div>
        <textarea name="adding-comments"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment:</button>
        <button type="button" class="upvote-btn">Vote</button>
    </div>
</form>


<div class="commentary">
    {{#each courses}}
    <section class="comment-course">
        <div class="education">
            {{username}}
        </div>
        <div class="opinion">
            {{comments}}
        </div>
    </section>
    {{/each}}
</div>
<script src="/js/comment.js"></script>