<section class="picture">
    <img src="/images/{{images.file_image}}" alt="{{images.synopsis}}">
    <h5>Course Name: {{images.course_name}}</h5>
    <h5>School: {{images.school}}</h5>
    <h5> Descriptions: {{images.synopsis}}</h5>
</section>



{{> comments}}



